body {
	/*background-color: #ff7300;
	*/
	background-color: #cc453b;
}

#main {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: 100px;
    width: 80%;
    background-color: #FFFFFF;
}

#overworld {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 80%;
    background-color: green;
}

#nether {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 80%;
    background-color: red;
}

#main > div {
    /* background-color: aquamarine; */
    padding: 5px;
}

